<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="tagline">Edit <%= resource_name.to_s.humanize %></h1>
            </div>
        </div>
    </div>
</header><br>

<section id="contact" class="bg-light section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 wrapper-v-lg text-center">
            <div class="row">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :html => {:class => 'form-horizontal' }) do |f| %>
              
            
              
                <%= f.input :whichmodel, collection: [:Business, :Residential], :label => 'Select Your Need', 
                required: true, :class=> "form-control form-control-silver" %>
                
                
                
                <!-- Input Email -->
                  <label for="form-email" class="sr-only">Email</label>
                  <%= f.input :email, required: true, autofocus: true , :class=> "form-control form-control-silver" %>
                
                  
                
                  <%= f.input :name, :label => 'Companys Name or Persons Name', required: true, autofocus: true, :class=> "form-control form-control-silver" %>
                
                
                
                  <%= f.input :lines, :label => 'Number of Users', autofocus: true, input_html: { min: '0', step: 'any' } %>
                
                
                
                  <%= f.input :phone, :required => true, :label => 'Phone Number',
                        :input_html => { :maxlength => 14, :"data-mask" => "999-999-9999" } %>
                
            
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            
               
                  <%= f.input :password, autocomplete: "off" %>
              
                
                
                  <%= f.label :password_confirmation %><br />
                  <%= f.input :password_confirmation, label: false, autocomplete: "off" %>
                
            
                
                  <%= f.input :current_password, autocomplete: "off" %><br>
                
                
              
                  <div class="wrapper-v-lg">
                    <%= f.button :submit, 'Sign up', :class=> "btn btn-primary" %>
                  </div>
              
            <% end %><br>
            
            <h3>Cancel my account</h3>
            
            <div class="wrapper-v-sm">
            <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary btn-large' %></p>
            </div>
            <%= link_to "Back", :back %>
            </div>
  </div>
</div>