<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="tagline">Sign up</h1>
            </div>
        </div>
    </div>
</header>

<section id="contact" class="bg-light section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline & Description -->
        
        <div class="col-md-8 col-md-offset-2 wrapper-v-lg text-center">
            <div class="row">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
                
                <div class="col-md-6 col-md-offset-3">
                <%= f.input :whichmodel, collection: [:Business, :Residential], :label => 'Select Your Need', 
                required: true, :class=> "form-control form-control-silver" %>
                </div>
                
                <div class="col-md-6">
                <!-- Input Email -->
                  <label for="form-email" class="sr-only">Email</label>
                  <%= f.input :email, required: true, autofocus: true , :class=> "form-control form-control-silver" %>
                </div>
                  
                <div class="col-md-6">
                  <%= f.input :name, :label => 'Companys Name or Persons Name', required: true, autofocus: true, :class=> "form-control form-control-silver" %>
                </div>
                
                <div class="col-md-6">
                  <%= f.input :lines, :label => 'Number of Users', autofocus: true, input_html: { min: '0', step: 'any' } %>
                </div>
                
                <div class="col-md-6">
                  <%= f.input :phone, :required => true, :label => 'Phone Number',
                        :input_html => { :maxlength => 14, :"data-mask" => "999-999-9999" } %>
                </div>
              
                <div class="col-md-6">
                  <%= f.input :password, autocomplete: "off" %>
                </div>
                
                <div class="col-md-6">
                  <%= f.label :password_confirmation %><br />
                  <%= f.input :password_confirmation, label: false, autocomplete: "off" %>
                </div>
                
                <div class="col-md-12">
                  <div class="wrapper-v-lg">
                    <%= f.button :submit, 'Sign up', :class=> "btn btn-primary" %>
                  </div>
                </div>
              <% end %>
              <div class="col-md-12">
                <%= render "devise/shared/links" %><br>
              </div>
          </div>
        </div>
  		</div>
  </div>
</section>