<div class="body-login-v2">
  <div class="login">
  		<div class="login-screen">
  		    <div class="app-title">
                <h2><%= @user.name %></h2><br>
            </div>
            <h4>Email: <%= @user.email %></h4>
            <h4>Number of line: <%= @user.lines %></h4>
            <h4>Subscribtion Plan: <%= @user.whichmodel %></h4>
            <h4>Subscribtion Status: <%= @user.subscribed %></h4><br>
            <%=link_to "Edit Your Profile", edit_user_registration_path %>
        </div>
    </div>
</div>