<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="tagline"><%= @user.name %></h1>
            </div>
        </div>
    </div>
</header><br>


<div class="container">
  <div class="row">
    <div class="login">
        <h4>Email: <%= @user.email %></h4>
        <h4>Number of line: <%= @user.lines %></h4>
        <h4>Subscribtion Plan: <%= @user.whichmodel %></h4>
        <h4>Subscribtion Status: <%= @user.subscribed %></h4><br>
        <%=link_to "Edit Your Profile", edit_user_registration_path %>
    </div>
  </div>
</div>