<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="tagline">Get In Touch</h1>
            </div>
        </div>
    </div>
</header>

<section id="contact" class="bg-light section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline & Description -->
        <div class="col-md-8 col-md-offset-2 wrapper-v-lg text-center">

          <p>We will get back to you in 24 business hours.</p><br>
        </div>
        <div class="col-md-8 col-md-offset-2 wrapper-v-lg text-center">
            <div class="row">
                <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
              <div class="col-sm-6">
                 <div class="form-group" id="name-field">
                  <label for="form-name" class="sr-only">Name</label>
                  <%= f.input :name, :required => true, :class=> "form-control form-control-silver" %>
                </div>
                <!-- /End Input Name -->
              </div>
              
              <div class="col-sm-6">

                <!-- Input Email -->
                <div class="form-group" id="email-field">
                  <label for="form-email" class="sr-only">Email</label>
                  <%= f.input :email, :required => true, :class=> "form-control form-control-silver" %>
                </div>
                <!-- /End Input Email -->
              </div>
              
              <div class="col-sm-12">

                <!-- Input Message -->
                <div class="form-group" id="message-field">
                  <label for="form-message" class="sr-only">Message</label>
                  <%= f.input :message, :as => :text, :required => true, 
                  :class=>"form-control form-control-silver", :input_html => {:style=> 'width: 100%;', :rows => 10} %>
                </div>
                <!-- /End Input Message -->

                <!-- Message -->
                <div class="form-group">
                  <div id="message-contact" class="message text-center">
                    <span class="message-icon"><i class="fa fa-info"></i></span>
                    <span class="message-text"></span>
                  </div>
                </div>
                <!-- /End Message -->
                <div class= "hidden">
                      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                  <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
                </div>
                <% end %>
                <!-- /End Submit Button -->

            </div>
          </div>
        </div>
      </div>
    </div>
</section>