<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="tagline">Changing for Good</h1>
            </div>
        </div>
    </div>
</header><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        World is changing fast and so does everybodys life. We at dailholic believe
        in helping people to accomplish their changing telephone needs. Telephone
        is outdated technology and home and businesses need upcoming technology
        to reduce their cost and increase their productivity in every possible way.
      </p>
      <p>
        Mark one of our client from New Jersey, USA, run three small businesses needs a 
        phone system that can go with him. He travels a lot in between his three businesses
        everyday. Nobody wants to use their personal cell phone number for business.
        With our system he can travel and also deal with his client on the go.
      </p>
      <p>
        So how all this thing works? Simple, our cloud technology can help switch between
        telephone and cell phone anytime you want. Make sure you try our free trial for better understanding.
      </p>
    </div>
    <br><br><br>
  </div>
</div>


<section id="company" class="bg-white section-p-sm">
    <div class="container reveal-bottom-opacity">
      <div class="row">
        <div class="col-md-10 col-md-offset-2 col-md-0 col-sm-offset-0 wrapper-v-lg">
          <div class="row">

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-map"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p>45 Park Avenue,<br>
                  New York, NY 10016</p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-paper-plane"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p><a class="link-dark" href="mailto:contact@dialholic.com">contact@dialholic.com</a>
                </p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

            <!-- Contact Details -->
            <div class="col-sm-4 wrapper-v-sm block-line">

              <!-- Icon -->
              <div class="block icon-md icon-color">
                <i class="fa fa-phone"></i>
              </div>
              <!-- /End Icon -->

              <!-- Address -->
              <div class="block text-left">
                <p>Tel.<a class="link-dark" href="tel:018328292659"> +1 832-829-2659</a></p>
              </div>
              <!-- /End Address -->

            </div>
            <!-- /End Contact Details -->

          </div>
        </div>
      </div>
    </div>
  </section>