<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="tagline">Features That Counts</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    
    <div class="col-md-12 text-center">
        <br><br><h4>Basic to Convenience Features That You Will Embrace</h4>
    </div>
    <div class="col-md-10 col-md-offset-2">
        <div class="col-md-5">
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#demo">7, 10, and 11 Digit Dialing</button>
          <div id="demo" class="collapse in">
            All dialing methods are handled and fully functional, with each and every account.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Caller">Caller ID w/ Name</button>
          <div id="Caller" class="collapse in">
            All accounts include fully functional Caller ID with both name and number.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Call">Call Waiting w/ ID</button>
          <div id="Call" class="collapse in">
            View the full Caller ID (name and number) of any incoming calls, even 
            when you are already on the line.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Three">Three Way Calling</button>
          <div id="Three" class="collapse in">
            While connected with another party, simply flash over on your phone 
            device and dial out. Flash back, and all three parties will be joined 
            on one line.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Forwarding">Call Forwarding</button>
          <div id="Forwarding" class="collapse in">
            At the click of a button, instantly forward all calls to an alternative
            phone number of your choosing. Additionally, you may forward calls based
            on a custom pre-defined criteria (Custom Inbound Call Routing).
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Blocking">Call Blocking</button>
          <div id="Blocking" class="collapse in">
            Block calls based upon your own unique criteria, all from the comfort of
            your web based vPanel account. Add specific numbers to block, or create 
            your own custom rules (such as blocking entire area codes, or allowing 
            only a 'whitelist' of contacts to be able to reach you).
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Disturb">Do Not Disturb</button>
          <div id="Disturb" class="collapse in">
            Not in the mood for conversation? Turn 'DND' on, and all calls will be 
            forwarded to voicemail or a busy tone.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Outbound">*67 Outbound Caller ID Blocking</button>
          <div id="Outbound" class="collapse in">
            Don't wish to disclose your information on a particular call? Not a 
            problem. Simply dialing *67 before calling automatically blocks your 
            outgoing Caller ID.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Return">*69 Call Return</button>
          <div id="Return" class="collapse in">
            Swiftly call back the last person who called your DailHolic number by dialing *69.
          </div><br>
          
      </div>
      
      <div class="col-md-5">
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Transfer">Transfer In Your Current Number</button>
          <div id="Transfer" class="collapse in">
            We've made the number transfer (porting) process as easy as possible. 
            Simply fax or email in a one page authorization form, and we'll take 
            care of the rest! Check the status of your transfer online, or call in 
            and speak directly with a friendly DailHolic porting specialist.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Area">Choose Your Own Area Code</button>
          <div id="Area" class="collapse in">
            With Voice-Over-IP technology, no longer is your number bound to a 
            geographical location. Choose a number from over 7,000 locations and 
            areas across the country!
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Keep">Keep Your Number If You Move</button>
          <div id="Keep" class="collapse in">
            Moving soon? With DailHolic, you can keep your number regardless of location.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Amazing">Amazing Customer Service</button>
          <div id="Amazing" class="collapse in">
            We're located in Southern California. Deal with knowledgeable support 
            agents that can actually solve your problems and help you.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Portable">Portable VoIP Deviceg</button>
          <div id="Portable" class="collapse in">
            We ship you a VOIP device. Plug it in at home, or take 
            it with you on the road. The choice is yours!
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Softphone">Softphone Access</button>
          <div id="Softphone" class="collapse in">
            DailHolic allows all users the option of utilizing software based phones.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#e911">e911 Service</button>
          <div id="e911" class="collapse in">
            All accounts come with 911 service enabled. Quickly update the address a
            911 operator would receive within the simplicity of your vPanel account.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#711">711 Service</button>
          <div id="711" class="collapse in">
            711 Telecommunications Relay Service (deaf and blind relay).
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Directory">411 Directory Assistance</button>
          <div id="Directory" class="collapse in">
            411 "Information" (Directory Assistance) available to all users.
          </div><br>
      </div>
    </div>
    
    
    <div class="col-md-12 text-center">
        <br><br><h4>Advance features That You Will Love</h4>
    </div>
    <div class="col-md-10 col-md-offset-2">
        <div class="col-md-5">
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Incoming">Custom Incoming Caller ID</button>
          <div id="Incoming" class="collapse in">
            Your dynamic list of vPanel contacts can override the default 
            network Caller ID with the description of your choosing! This is 
            particularly useful for receiving calls from a cell phone or other 
            source that does not send a traditional Caller ID details.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Contacts">Contacts List</button>
          <div id="Contacts" class="collapse in">
            Add and manage an unlimited amount of contact names from within 
            vPanel. Additionally, you can create customized contact groups like 
            family, work, and friend (or enemies!). Our Contacts System is fully 
            integrated with other vPanel features including 'Customer Caller 
            ID,' and 'Call Routing'.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Online">Online Call Logs</button>
          <div id="Online" class="collapse in">
            Each and every call made from your account on the DailHolic network is 
            logged and displayed online for your convenience and security.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Unlimited">Unlimited Speed Dial</button>
          <div id="Unlimited" class="collapse in">
            Create as many speed dial codes as you can remember! With a few 
            clicks, you can seamlessly and easily add/modify speed dial 
            functionality for specific numbers and contacts.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Advanced">Advanced Voicemail</button>
          <div id="Advanced" class="collapse in">
            Voicemail for the modern, technological world. With DailHolic Advanced 
            Voicemail, in addition to the ability to check your messages over 
            the phone -- notifications can be delivered directly to your email 
            (message included). Need more accessibility? We thought so too, and
            incorporated short and sweet US SMS (text) based notifications as well.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Voicemails">View Voicemails Online</button>
          <div id="Voicemails" class="collapse in">
            Jump on the web and listen to your new and saved voicemail messages,
            all from the simplicity of your vPanel account.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Mailed">Voicemails E-Mailed</button>
          <div id="Mailed" class="collapse in">
            Simply specify an email address, and we'll automatically send a 
            notification when someone has left a voicemail. In addition, choose 
            to attach the actual voicemail (.wav file) to the email itself!
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#SMS">Voicemail SMS Notifications</button>
          <div id="SMS" class="collapse in">
            We have introduced SMS (text) notifications as an additional method 
            for voicemail alerts. Receive a short, concise 'text' with just the 
            essentials: Caller ID, Number, Date/Time, and message length. The 
            textual notification is short enough to fit into a single 'text with
            all major US carriers.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Distinctive">Distinctive Ringtones</button>
          <div id="Distinctive" class="collapse in">
            Know who is calling you before you ever check the phone! Assign 
            different ringtones to incoming users, for immediate identification.
          </div><br>
          
      </div>
      
      <div class="col-md-5">
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Virtual">Virtual Numbers</button>
          <div id="Virtual" class="collapse in">
            Added through your vPanel account, Virtual Numbers are unique, 
            different phone numbers that ring through to the same line as your 
            primary DailHolic number (incoming only).
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Boxes">Virtual Number Voicemail Boxes</button>
          <div id="Boxes" class="collapse in">
            Enable unique voicemail mailboxes at your disposal for each 
            individual Virtual Number assigned to the account.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Network">Network Failover Forwarding</button>
          <div id="Network" class="collapse in">
            Power or ISP outage? With Failover Forwarding, simply specify an 
            alterative contact number and our system will automatically forward 
            calls there when you're not connected to our network.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Inbound">Custom Inbound Call Routing</button>
          <div id="Inbound" class="collapse in">
            Route incoming calls with your own custom rule sets and predefined criteria.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Routing">Custom Outbound Call Routing</button>
          <div id="Routing" class="collapse in">
            Route outgoing calls with your own custom rule sets and predefined criteria.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#SIP">Inbound SIP Address Routing</button>
          <div id="SIP" class="collapse in">
            Need an inbound SIP address? All accounts have one by default.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Address">Outbound SIP Address Routing</button>
          <div id="Address" class="collapse in">
            Route outgoing calls via SIP address with ease!
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Simultaneous">Simultaneous Ring</button>
          <div id="Simultaneous" class="collapse in">
            Setup an additional external number (cell, work, etc) that will ring
            simultaneously with your DailHolic line.
          </div><br>
          <button type="button" class="btn btn-info btn-block" data-toggle="collapse" 
          data-target="#Control">Control Features by SMS</button>
          <div id="Control" class="collapse in">
            You asked, and we delivered. Send simple, secure 'texts' to us via 
            cell phone and automatically configure your DailHolic account on the fly!
          </div><br>
      </div>
    </div>
    
</div><br><br>