<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


  <!-- Favicon -->

  <!-- Bootstrap CSS -->

  <!-- Font Icons -->

  <!-- Google Fonts -->

  <!-- Plugins CSS -->

  <!-- Custom CSS -->

  <!-- Color CSS -->
  <!--
  <link rel="stylesheet" href="css/color/turquoise.css"/>
  <link rel="stylesheet" href="css/color/green-light.css"/>
  <link rel="stylesheet" href="css/color/green.css"/>
  <link rel="stylesheet" href="css/color/blue-dark.css"/>
  <link rel="stylesheet" href="css/color/violet.css"/>
  <link rel="stylesheet" href="css/color/violet-red.css"/>
  <link rel="stylesheet" href="css/color/pink.css"/>
  <link rel="stylesheet" href="css/color/red.css"/>
  <link rel="stylesheet" href="css/color/orange.css"/>
  <link rel="stylesheet" href="css/color/yellow.css"/>
  <link rel="stylesheet" href="css/color/gold.css"/>
  -->

  <!-- Responsive CSS -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body data-target="#main-navbar">


<!-- Preloader -->
<% content_for :navbar do %>
      <%= render 'layouts/header1' %>
 <% end %>

<!-- Main -->


  <!-- ============================
       Hero Section
  ================================= -->

  <section id="hero-image" class="hero-image-v2 hero-p-v3 pos-relative ov-hidden">

    <!-- Color Overlay -->
    <div class="section-overlay bg-color-light opacity-90"></div>
    <!-- /End Color Overlay -->

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center wrapper-v-lg">

          <!-- Headline -->
          <h1>Smart Home Phone</h1>
          <!-- /End Headline -->

          <!-- Description -->
          <p>Make your telephone line smarter and easier in every possible way. 
              It will increase your productivity and decrease cost at the same time</p>
          <!-- /End Description -->

          <!-- Button -->
          <div class="wrapper-v-lg">
            <a href="/users/sign_up" class="btn btn-color smooth-scroll" role="button">Start Your Free Trial</a>
          </div>
          <!-- /End Button -->

        </div>
        <!-- Hero Smartphone Image -->
        
        <!-- /End Hero Smartphone Image -->

      </div>
    </div>
  </section>


  <!-- ============================
       Services Section
  ================================= -->

  <section id="function" class="bg-white section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline -->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2 class="text-center">It's Awesome</h2>
        </div>
        <!-- /End Headline -->

        <!-- Services Block 1 -->
        <div class="col-sm-6 col-lg-3 wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>Reduce Phone Cost</h4>

          <p>
            Our phone service helps you to reduce cost upto 50%.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 1 -->

        <!-- Services Block 2 -->
        <div class="col-sm-6 col-lg-3 wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>Flexible & Scalable</h4>

          <p>
            Take your phone wherevery you go, add as many lines you want and add as many times you want.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 2 -->

        <!-- Services Block 3 -->
        <div class="col-sm-6 col-lg-3  wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-line-chart"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>Increase Productivity</h4>

          <p>
            It helps you to increase productivity upto 20%.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 3 -->

        <!-- Services Block 4 -->
        <div class="col-sm-6 col-lg-3  wrapper-v-lg text-center">

          <!-- Icon -->
          <div class="icon-lg icon-color icon-size">
            <i class="fa fa-hand-paper-o"></i>
          </div>
          <!-- /End Icon -->

          <!-- Description -->
          <h4>Amazing Service</h4>

          <p>
            Experiance yourself and you will know it.
          </p>
          <!-- /End Description -->

        </div>
        <!-- /End Services Block 4 -->

      </div>
    </div>
  </section>

  <!-- ============================
       Function Section (how work)
  ================================= -->

  


  <!-- ============================
       Function 2 Section
  ================================= -->

  


  <!-- ============================
       Features Section
  ================================= -->

  


  <!-- ============================
       Download Section
  ================================= -->

  <section id="download" class="bg-light section-p-lg">
    <div class="container wrapper-h-xs-lg reveal-bottom-opacity">
      <div class="row">

        <!-- Headline & Description-->
        <div class="col-sm-8 col-sm-offset-2 wrapper-v-lg text-center">
          <h2>Save Your Money</h2>

          <p>Changing technology reduces price for major product and give you more feature. Dailholic exactly provide 
              you with such amazing service.</p>
        </div>
        <!-- /End Headline & Description-->

        <!-- Buttons -->
        <div class="col-sm-6 col-sm-offset-3 wrapper-v-lg text-center">
          <a href="/features" class="btn btn-color smooth-scroll">
            <i class="fa fa-rocket"></i>Learn About 40+ Features</a>
        </div>
        <!-- /End Buttons -->

      </div>

      <!-- Download Smartphone Image -->
      
      <!-- /End Download Smartphone Image -->

    </div>
  </section>


  <!-- ============================
       Pricing Section
  ================================= -->

  


  <!-- ============================
       Video Section
  ================================= -->

  


  <!-- ============================
       Testimonials Section
  ================================= -->

  


  <!-- ============================
       Newsletter Section
  ================================= -->

  


  <!-- ============================
        Partner Section
  ================================= -->

  


  <!-- ============================
       Gallery Section
  ================================= -->

  


  <!-- ============================
       Facts Section
  ================================= -->

  


  <!-- ============================
       Contact Section
  ================================= -->

  


  <!-- ============================
       Company Section
  ================================= -->


  <!-- ============================
       Footer
  ================================= -->


<!-- /End Main -->

<!-- Back to Top Button -->
<a href="#page" class="btn-circle btn-circle-lg btn-color btn-top smooth-scroll">
  <i class="fa fa-angle-up"></i>
</a>
<!-- /End Back to Top Button -->


<!-- Scripts -->
<!-- Custom Script -->
</body>
</html>