<%= form_tag subscribers_path do %>

  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
  <p>
    <label class="amount">
      <p>Number of Users: <%= current_user.lines %></p>
      <% if current_user.whichmodel == "Business" %>
            <% if current_user.lines < 11 %>
                <p>Plan: Starter</p>
                <p>Period: 14 days free trial</p><br><br>
            <% else %>
                <p>Plan: High Volume</p>
                <p>Period: 14 days free trial</p><br><br>
            <% end %>
        <% else %>
            <p>Plan: Starter</p>
            <p>Period: 14 days free trial</p><br><br>
        <% end %>
      <%=link_to "Change Setting", edit_user_registration_path %>
    </label>
  </p>
  <p>
    <%= label_tag(:couponCode, 'Coupon:') %>
    <%= text_field_tag(:couponCode) %>
  </p>
  
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
          data-description="A month's subscription"
          data-amount=""></script>
<% end %>