<div class="body-login-v2">
  <div class="login">
  		<div class="login-screen">
  		    <div class="app-title">
                <h1>Final Step</h1><br>
            </div>
                <h5>You are one step away from 14 days free trial</h5>  
                <%= render 'form' %>
        </div>
    </div>
</div>