<footer id="footer" class="bg-dark section-p-sm text-white">
    <div class="container">
      <div class="row">

        <!-- Company Details -->
        <div class="col-md-6 wrapper-v-sm text-center-md">
          <p class="text-light">
            <a class="link-white" href="#">Terms</a>
            <span class="separator">|</span>
            <a class="link-white" href="#">Imprint</a>
            <span class="separator">|</span>
            <a class="link-white" href="#">Privacy
              Policy</a><br>
            © 2016 <%= image_tag("logo-white.png", :alt => "", :class => "logo-wrapper", :height => "18") %>.
            All Rights Reserved. Sources: <a class="link-white"
                                             href="" target="_blank"
                                             data-placement="top"
                                             data-toggle="tooltip" title="&copy; name1
  &copy; name2
  &copy; name3
  &copy; name4">dailholic</a>
          </p>
        </div>
        <!-- /End Company Details -->

        <!-- Buttons Social -->
        <div class="col-md-6 wrapper-v-sm text-right text-center-md">
            <p class="text-light">Tel.<a class="link-white" href="tel:018328292659">
               +1 832-829-2659</a></p>
        </div>
        
        <!-- /End Buttons Social -->

      </div>
    </div>
  </footer>